:root {
    --coresPrimarias1: #CAD2C5;
    --coresPrimarias2: #84A98C;
    --coresPrimarias3: #52796F;
    --coresPrimarias4: #354F52;
    --coresPrimarias5: #2F3E46;
    --coresSecundarias1: #e4ebf1;
    --coresSecundarias2: #82A0BC;
    --coresSecundarias3: #63ADF2;
    --coresSecundarias4: #304D6D;
    --coresSecundarias5: #545E75;
    --coresTerciarias1: #EEF1EF;
    --coresTerciarias2: #7D98A1;
    --coresTerciarias3: #A9B4C2;
    --coresTerciarias4: #5E6572;
    --coresTerciarias5: #1C2321;
}
.btn-clique{
    width: 100%;
    display: flex;
    justify-content: center;
}

.cta {
    position: relative;
    margin: 20px auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--coresTerciarias2);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--coresTerciarias3);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   .cta:hover span{
    color: var(--coresTerciarias1);
   }
   .cta:hover:before {
    width: 100%;
    background: var(--coresTerciarias2);
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }