* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --coresPrimarias1: #CAD2C5;
    --coresPrimarias2: #84A98C;
    --coresPrimarias3: #52796F;
    --coresPrimarias4: #354F52;
    --coresPrimarias5: #2F3E46;
    --coresSecundarias1: #e4ebf1;
    --coresSecundarias2: #82A0BC;
    --coresSecundarias3: #63ADF2;
    --coresSecundarias4: #304D6D;
    --coresSecundarias5: #545E75;
    --coresTerciarias1: #EEF1EF;
    --coresTerciarias2: #7D98A1;
    --coresTerciarias3: #A9B4C2;
    --coresTerciarias4: #5E6572;
    --coresTerciarias5: #1C2321;
}

body {
    line-height: 1.15;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: linear-gradient(120deg, var(--coresPrimarias2), var(--coresPrimarias1));
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(120deg, var(--coresPrimarias4), var(--coresPrimarias5));
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 9;
    transition: background .7s;
}

header nav {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Sura', serif;
    font-size: 1.2em;
    height: 30px;
    position: relative;
    display: inline-block;
}

nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: var(--coresPrimarias2);
    scale: 0;
    transform-origin: left;
    transition: scale .4s;
}

nav a:hover::before {
    scale: 1;
}

body>h1 {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ecf0e9;
    text-shadow: 2px 2px 2px #0000003f;
    padding-left: 20px;
    width: 100%;
}

body>h1::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: 10px;
    background: #ffffffc9;
}

.btn-extra {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: var(--coresPrimarias3);
    border-radius: 50%;
    border: solid 1px #FFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.331);
    transition: height .5s, width .5s, right .5s, bottom .5s, background .5s, border-radius .5s .1s;
}

.btn-extra>#btnExtraExp {
    color: #fff;
    font-size: 30px;
    padding-bottom: 0;
    transform: translateY(7px);
    transition: top 1s, left 1s, transform 1s;
    cursor: pointer;
}

.btn-extra div {
    display: none;
}

.modal-btn-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--coresPrimarias1);
    border-radius: 10px;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.135);
    transition: height .7s, width .7s, right .5s, bottom .5s, background .5s, ;
    overflow: hidden;
}

.modal-btn-extra>#btnExtraExp {
    position: absolute;
    color: var(--coresPrimarias3);
    top: 10px;
    left: 0;
    transform: rotate(45deg);
    margin-top: -10px;
    transition: top 2s, left 2s, transform 2s;
    cursor: pointer;
}

.modal-btn-extra div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.modal-btn-extra div p {
    font-size: 1.2em;
    color: var(--coresPrimarias5);
    text-align: center;
}

.modal-btn-extra div button {
    height: 30px;
    width: 90%;
    margin: 10px auto 0 auto;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 7px #00000036;
    transition: box-shadow .3s;
    cursor: pointer;
}

.modal-btn-extra div button:hover {
    box-shadow: 3px 3px 5px #0000002e;
}

.modal-cadastro {
    width: 100%;
    height: 100vh !important;
    position: absolute;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: backdrop-filter .5s, -webkit-backdrop-filter .5s;
}

.modal-cadastro-aux {
    transition: backdrop-filter .5s, -webkit-backdrop-filter .5s;
}

.content-modal {
    min-width: 500px;
    width: 600px;
    /* height: 740px; */
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0000001e, -5px -5px 10px #ffffff16;
    background-color: var(--coresPrimarias1);
    position: relative;
}

.content-modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 15px;
}

.content-modal form>div {
    display: flex;
    gap: 10px;
    width: 100%;
}

.content-modal form>div>div {
    width: 50%;
}

.content-modal form textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 85px;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    box-shadow: 3px 3px 5px #00000036;
    color: var(--coresPrimarias5);
    cursor: pointer;
}

.content-modal form input[type=submit] {
    height: 35px;
    margin: auto;
    margin-top: 20px;
    background-color: var(--coresPrimarias4);
    color: var(--coresPrimarias1);
    transition: background-color .2s, width .2s, box-shadow .2s;
}

.btn-fechar {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.msg-ajuda {
    width: 450px;
    height: 230px;
    display: none;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--coresPrimarias4);
    border-radius: 30px;
    box-shadow: 7px 14px 6px #00000022;
    transition: width .5s, height .5s;
    z-index: 1;
}
.msg-ajuda>button {
    background: transparent;
    border: none;
    font-size: 2em;
    position: absolute;
    left: 47.5%;
    bottom: -35px;
    cursor: pointer;
}

.msg-ajuda [wm-msg-ajuda="1"] {
    display: flex;
    animation: view .5s normal;
}

.msg-ajuda [wm-msg-ajuda="2"] {
    display: none;
}

.msg-ajuda [wm-msg-ajuda="3"] {
    display: none;
}

.msg-ajuda .content-msg-ajuda {
    width: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 5px 5px 10px #0000003d;
    position: relative;
}

.msg-ajuda .content-msg-ajuda p {
    text-align: justify;
    font-size: 1.2em;
}


.msg-ajuda-2 {
    width: 590px;
    height: 550px;
    transition: width .5s, height .5s;
}

.msg-ajuda-2 .content-msg-ajuda[wm-msg-ajuda="1"] {
    display: none;
}

.msg-ajuda-2 .content-msg-ajuda[wm-msg-ajuda="2"] {
    display: flex;
    animation: view 1s normal;
}


.msg-ajuda-2 [wm-msg-ajuda="3"] {
    display: none;
}


.msg-ajuda-3 {
    width: 690px;
    height: 750px;
    transition: width .3s, height .3s;
}

.msg-ajuda-3 [wm-msg-ajuda="1"] {
    display: none !important;
}

.msg-ajuda-3 [wm-msg-ajuda="2"] {
    display: none !important;
}

.msg-ajuda-3 [wm-msg-ajuda="3"] {
    display: flex;
    flex-direction: column;
    animation: view 1s normal;
}

[wm-msg-ajuda="3"]>h2 {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ecf0e9;
    text-shadow: 2px 2px 2px #0000003f;
    width: 100%;
    overflow: hidden;
}

[wm-msg-ajuda="3"]>h2::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: 10px;
    background: #ffffffc9;
}

[wm-msg-ajuda="3"] .tabela-ajuda {
    width: 100%;
    overflow-y: scroll;
}

.tabela-ajuda::-webkit-scrollbar {
    display: none;
}

.content-msg-ajuda .btns-prev-next {
    position: absolute;
    bottom: 0;
    transform: translateY(15px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btns-prev-next>button {
    width: 40%;
    height: 30px;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--coresPrimarias1);
    color: var(--coresPrimarias5);
    box-shadow: 3px 3px 6px #bfbfbf23;
    cursor: pointer;
}

.input {
    width: 100%;
    height: 35px;
    padding: 1px 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 3px 4px 10px #00000029;
    margin-bottom: 15px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}

@keyframes view {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 30px;
}

.card {
    width: 500px;
    height: 214px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--coresPrimarias3);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card-btn {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--coresPrimarias3);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--coresPrimarias5);
}

.card:hover {
    border-color: var(--coresPrimarias3);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
    cursor: pointer;
}

.modal-candidatos{
    width: 690px;
    height: 750px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--coresPrimarias4);
    border-radius: 30px;
    box-shadow: 7px 14px 6px #00000022;
    transition: width .5s, height .5s;
    z-index: 1;
}

.modal-candidatos>h2 {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ecf0e9;
    text-shadow: 2px 2px 2px #0000003f;
    width: 100%;
    height: 35px;
    overflow: hidden;
}

.modal-candidatos .tabela-candidatos {
    width: 100%;
    overflow-y: scroll;
}

.modal-candidatos .tabela-candidatos::-webkit-scrollbar {
    display: none;
}

.modal-candidatos>h2::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: 10px;
    background: #ffffffc9;
}

.modal-candidatos>button {
    background: transparent;
    border: none;
    font-size: 2em;
    position: absolute;
    left: 45%;
    bottom: -35px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .msg-ajuda-2{
        width: 90%;
        height: 610px;
    }

    .msg-ajuda-3{
        width: 95%;
        height: 650px;
    }

    .modal-candidatos{
        width: 95%;
        height: 650px;
    }
}