* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --coresPrimarias1: #CAD2C5;
    --coresPrimarias2: #84A98C;
    --coresPrimarias3: #52796F;
    --coresPrimarias4: #354F52;
    --coresPrimarias5: #2F3E46;
    --coresSecundarias1: #e4ebf1;
    --coresSecundarias2: #82A0BC;
    --coresSecundarias3: #63ADF2;
    --coresSecundarias4: #304D6D;
    --coresSecundarias5: #545E75;
    --coresTerciarias1: #EEF1EF;
    --coresTerciarias2: #7D98A1;
    --coresTerciarias3: #A9B4C2;
    --coresTerciarias4: #5E6572;
    --coresTerciarias5: #1C2321;
}

body {
    background: linear-gradient(120deg, var(--coresPrimarias3), var(--coresPrimarias2), var(--coresPrimarias1));
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 80px;
    background: linear-gradient(120deg,var(--coresPrimarias4),var(--coresPrimarias5));
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 9;
    transition: background .7s;
}
header nav{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a{
    text-decoration: none;
    color: #fff;
    font-family: 'Sura', serif;
    font-size: 1.2em;
    height: 30px;
    position: relative;
    display: inline-block;
}
nav a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: var(--coresPrimarias2);
    scale: 0;
    transform-origin: left;
    transition: scale .4s;
}
nav a:hover::before{
    scale: 1;
}

body>h1{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ecf0e9;
    text-shadow: 2px 2px 2px #0000003f;
    padding-left: 20px;
}

body>h1::after{
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-left: 10px;
    background-color: #ffffffc9;
}

.view-candidaturas {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-candidatura {
    width: 32.8%;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--coresPrimarias1);
    box-shadow: 5px 5px 7px #00000025;
    display: flex;
    flex-direction: column;
}

.card-candidatura label {
    font-weight: bold;
    color: var(--coresPrimarias5);
}

.card-candidatura p {
    color: var(--coresPrimarias4);
    text-indent: 7px;
    margin-bottom: 8px;
    text-align: justify;
}

.status-card-candidatura {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 7px;
}

.status-candidatura {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.status-candidatura[tipo-status=andamento] {
    background-color: #888787;
}

.status-candidatura[tipo-status=recusado] {
    background-color: rgb(255, 50, 50);
}

.status-candidatura[tipo-status=aprovado] {
    background-color: rgb(5, 197, 5);
}

@media screen and (max-width: 1278px) {
    .card-candidatura {
        width: 48%;
    }
}

@media screen and (max-width: 730px) {
    .card-candidatura {
        width: 100%;
    }
}
